services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq-local
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin_pass
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  mongodb:
    image: mongodb/mongodb-community-server:latest
    container_name: mongodb-local
    ports:
      - "27017:27017"
    environment:
      - MONGODB_INITDB_ROOT_USERNAME=root
      - MONGODB_INITDB_ROOT_PASSWORD=root_pass
    volumes:
      - mongo_data:/data/db

volumes:
  rabbitmq_data:
  mongo_data: